<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>Dogs</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='/dogs/new'>New Dog</a></li>
        <li><a href='/dogs'>Dogs</a></li>
        <% @nav_rows.each do |row| %>
          <li><a href='/dogs/<%= row['breed'] %>'><%= row['breed'] %></a></li>
        <% end %>
      </ul>
      <div class="clear"></div>
    </nav>

    <div class="wrapper">
      <%= yield %>
    </div>

  </body>
</html>
