<h2>New Item</h2>
<form action="/items/new" method="post">
	<div class="item_title_input_container">
		<label for="title">Title</label>
		<input type="text" name="item[title][]"/>
	</div>
	<div class="item_price_input_container">
		<label for="title">Price</label>
		<input type="text" name="item[price]"/>
	</div>
	<div class="item_description_input_container">
		<label for="description">Description</label>
		<textarea name="item[description]"></textarea>
	</div>
	<button type="submit">Submit</button>
	<br>
	<a href="/">Cancel</a>
</form>