<h1>Contact Information</h1>

<div class="row">
  <div class="column-left">
    <label for="first_name">First Name:</label>
  </div>
  <div class="column-right"></div>
  <div class="clear"></div>
</div>
<div class="row">
  <div class="column-left">
    <label for="first_name">Last Name:</label>
  </div>
  <div class="column-right"></div>
  <div class="clear"></div>
</div>
<div class="row">
  <div class="column-left">
    <label for="first_name">Email Address:</label>
  </div>
  <div class="column-right"></div>
  <div class="clear"></div>
</div>
<div class="row">
  <div class="column-left">
    <label for="first_name">Phone Number:</label>
  </div>
  <div class="column-right"></div>
  <div class="clear"></div>
</div>
<div class="row">
  <div class="column-left">
    <label for="first_name">Comments:</label>
  </div>
  <div class="column-right"></div>
  <div class="clear"></div>
</div>
