body
{
  background: url('/images/camera.jpg') no-repeat;
}

.content
{
  background-color: #252525;
  opacity:0.9;
  border-radius: 10px;
  padding: 20px;
  color: #aaaaaa;
}

legend
{
  color: #aaaaaa;
}

.control
{
  float: left;
  width: 150px;
}

.control button, .control a
{
  width: 100px;
}

section
{
  margin-bottom: 25px;
}
