<h1>Search Results</h1>
<!-- Display search results -->
<ul>
<% @results.each do |politician| %>
  <li class="<%= politician.party %>">
    <form action="/favorite/<%= politician.bioguide_id %>" method="POST">
    <%= politician.firstname %> <%= politician.lastname %>
      <button class="btn-purple" width="150px">Favorite</button>
    </form>
  </li>
<% end %>
</li>