<!DOCTYPE html>
<html>
<head>
	<title>eStore</title>
</head>
<body>
	<h1>Shop</h1>
	<nav>
		<a href="/">Home</a> | <a href="/items/new">New item</a><% if session[:user] %> | <a href="/logout">Logout</a><% end %>
	</nav>

  <hr>

  <%= yield %>

</body>
</html>