<% @rows.each do |row| %>
  <section>
    <div class='control'>
      <form action='/videos/<%= row['id'] %>/delete' method='post'>
        <button class='btn btn-danger'>Delete</button>
      </form>
    </div>
    <div class='control'>
      <a class='btn btn-warning' href='/videos/<%= row['id'] %>/edit/'>Edit</a>
    </div>
    <div class='clearfix'></div>

    <% @url = row['url'] %>
    <%= erb :youtube %>

  </section>
<% end %>
