<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='/style.css'>
    <title>Stock</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='/links'>Links</a></li>
        <li><a href='/manual_links'>Manual Links</a></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>