
<h1>Receipt Form:</h1>
		
<form id="receipt-form" action="" method="post">

	<label for="service">Service Provided:</label>
	<input type="text" id="service-input" name="service">
	
	<label for="cost">Cost: $</label>
	<input type="text" id="cost-input" name="cost" placeholder="0.00" >
		
	<input type="submit" value="Print Receipt">
		
</form>


<h1>Printed Receipt:</h1>
<ul>
	<li> Company Name: Particular Assembly Inc. </li>
	<li> Good/Service Provided: <%= @service || "_______" %> </li>
	<li> Cost: $<%= @cost || "0.00" %> </li>
	<li> Thank you for your patronage </li>
</ul>

