html, body {
  font-family: "Century Gothic", Arial, sans-serif;
}
h1 {
  text-align: center;
}
.clear {
  clear: both;
}

.row {
  clear: both;
  margin: 0px auto;
  padding: 2px 0px;
  width: 360px;
}
.column-left {
  float: left;
  text-align: right;
  width: 150px;
}
.column-right {
  float: right;
  width: 200px;
}
